<!DOCTYPE html>
  <html lang="fr">

    <!-- Head section - Loading CDN -->
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="jb" content="">
      <title>El Patchouli</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

    </head>
    <body>

    <h1>Patchouli</h1>



    <section id="choix" style="border:1px solid black;height:100px;">
        <input type='button' value="Créez une adresse Mail" id="choix_button"><br>
        <input type='button' value="M'Expliquez une page !" id="choix_button" onclick="explique_bébé()">


    </section>




    <section id="iframe_section">
    
        <div id="page">

        </div>
    
        
    </section>









            <div id="input" style='border:1px solid black;'>

                <div id="explication"></div><br><br>
                <center><input type='text' placeholder="par exemple: 'http://127.0.0.1:8000/'"
                    id="input_text_explication"></center><br>
                <center><input type='button' value="valider" id='button_explication'></center><br>
                
                
                <center><input type='text' placeholder="Votre question ?" id="input1"></center><br>
                <center><input type='button' value="valider" class='button_input'></center>

            





https://www.google.fr/


            </div>




    </body>
</html>











<script>





function explique_bébé(){
    document.getElementById('explication').innerHTML = "<strong>Rentre l'url</strong>";
    document.getElementById('button_explication').style.display = 'block';
    document.getElementById('input_text_explication').style.display = 'block';

    
};













jQuery("#button_explication").on("click", function(e){
    

     var page = document.getElementById('input_text_explication').value;
     
     e.preventDefault();
      jQuery.ajax({
          data:{
              'a':page,
              csrfmiddlewaretoken:'{{ csrf_token }}'
          },
          type:"POST",
          url:"/"
      })
      .done(function(data){
          if (data.error){
              jQuery("#monCadreAlert").text(data.error);
              jQuery("#is_save");
              
              
          }
          else{
              jQuery("#is_save").html(data.data);
              jQuery("#monCadreAlert");

              };
          
      });
  });
      
</script>




<style>

#input{
    width:100%;
    text-align:center;
    margin-top:250px;
}
#input1{
    margin-top:250px;
    text-align:center;
    width:500px;
    height:50px;
    font-size:3vw;
}
.button_input{
    font-size:3vw;
}
#inlineFrameExample{
    display:none;
}
#choix{
    float:right;
}
#choix_button{
    background:transparent;
    border:transparent;
}
#input_text_explication{
    display:none;
}
#button_explication{
    display:none;
}
</style>






